// COLORS
@light-grey: #ededed;
@grey : #e1e1e1;
@black: #212121;

// FONTS
body {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  color: @black;
}
.navbar {
  font-size: 16px;
}
h1 {
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
}
.subheading {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 31px;
  text-align: center;
}
h2:after {
  content: "";
  display: block;
  background: url("../img/title-hr.png") no-repeat;
  width: 60px;
  height: 8px;
  margin: 5px auto 0;
}
h3 {
  font-size: 30px;
  font-weight: 700;
  
}
// h3 My resent works -> Project Title
// h3 Fun facts -> Years Experience
h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 9px;
}
// h4 What i do -> front end
// h4 My skills -> Html css
p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 25px;
}
li {
  font-size: 16px;
  font-weight: 400;
}

input, textarea {
  font-size: 16px;
  font-family: 'Cormorant', serif;
  color: @black;
}

.transition(@property: all; @time: 300ms; @function: ease-in) {
    -webkit-transition: @property @time @function;
    -moz-transition: @property @time @function;
    -ms-transition: @property @time @function;
    -o-transition: @property @time @function;
    transition: @property @time @function;
}
section {
  padding: 50px 0;
}

.btn {
  font-size: 14px;
  padding: 10px 20px;
  @media screen and (min-width: @screen-md) {
    font-size: 16px; 
    padding: 15px 41px;
  }
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: @black;
  text-decoration: none;
  cursor: pointer;
  .transition();
  &:hover, &:focus, &:visited {
    color: #fff;
    background: lighten(@black, 20%);
  }
  &.btn-invert {
    color: @black;
    background: #fff;
    border: solid 1px @black;
    &:hover, &:focus {
      background: darken(#fff, 5%);
    }
  }
  &:hover {
    text-decoration: none;
  }
}

a {
  color: @grey;
  text-decoration: none;
  .transition();
  &:hover, &:focus, &:visited {
    color: lighten(@grey, 10%);
    text-decoration: underline;
  }
  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
