header {
  .rectangle-left {
    border: 17.25px solid rgb(33, 33, 33);
    border-left: 0;
    width: 416.5px;
    height: 456.5px;
    position: absolute;
    z-index: 99;
    top: 201px;
    opacity: 0.102;
  }
  .rectangle-right {
    border: 13px solid rgb(255, 255, 255);
    border-right: 0;
    position: absolute;
    right: 0;
    top: 248px;
    width: 263px;
    height: 352px;
    z-index: 99;
  }
  nav.navbar {
    position: fixed;
    margin: 0 auto;
    padding: 48px 0;
    left: 0;
    right: 0;
    width: 970px;
    z-index: 100;
    @media screen and (min-width: @screen-lg) {
      width: 1170px;
    }

    .logo {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 24px;
      float: left;
    }

    .fa {
      @media screen and (min-width: @screen-md) {
        display: none;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-transform: uppercase;
      display: none;
      @media screen and (min-width: @screen-md) {
        display: block;
        float: right;
      }
      li {
        display: block;
        padding: 0 16px;
        @media screen and (min-width: @screen-md) {
          display: inline-block;
        }
        a {
          text-decoration: none;
          color: @black;
          padding-bottom: 5px;

          &:hover {
            border-bottom: 2px solid @black;
          }
        }
      }
      li:first-child {
        padding-left: 0;
      }
      li:last-child {
        padding-right: 0;
      }
    }
  }
  .hero {
    position: relative;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 52%, rgba(225,225,225,1) 52%, rgba(225,225,225,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(52%, rgba(246,246,246,1)), color-stop(52%, rgba(225,225,225,1)), color-stop(100%, rgba(225,225,225,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 52%, rgba(225,225,225,1) 52%, rgba(225,225,225,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 52%, rgba(225,225,225,1) 52%, rgba(225,225,225,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 52%, rgba(225,225,225,1) 52%, rgba(225,225,225,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 52%, rgba(225,225,225,1) 52%, rgba(225,225,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=1 );
    .hero-text {
      margin: 205px 0;

      .btn-first {
        margin-right: 8px;
      }
      .btn-invert {
        margin-left: 8px;
      }
    }
  }
}

.home {

  #about {
    text-align: center;
  }

  #skills {
    padding: 61px 0 51px-44px;
    h4 {
      text-transform: uppercase;
    }
    .progress-bar {
      margin-bottom: 44px;

      .outer-bar {
        background: #dfdfdf;
        height: 15px;
        width: 100%;
      }
      .inner-bar {
        background: @black;
        height: 15px;
        width: 0;
      }
    }
  }

  #services {
    text-align: center;
    position: relative;
    .bg-img {
      background: url("../img/services/bg.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      padding: 200px 0;
    }
    .services-info {
      position: absolute;
      top: 279px;
      background: #fff;
      left: 0;
      right: 0;
      box-shadow: 0px 0px 40.18px 8.82px rgba(0, 0, 0, 0.15);
      padding: 111px 15px;

      .service-icon {
        display: block;
        margin: 0 auto 14px;
      }
      p {
        max-width: 300px;
        margin: 0 auto 26px;
      }
    }
  }

  #portfolio {
    margin-top: 300px;
    text-align: center;
    .portfolio-item {
      position: relative;
      cursor: pointer;
      margin-bottom: 28px;
      text-align: left;
    }
    .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      &::before {
        content: "";
        background: #000;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top:0;
      }

      .rectangle {
        border: 8px solid @grey;
        border-left: 0;
        width: 42%;
        height: 70%;
        position: relative;
        top: 15%;
        opacity: 0.7;
      }
      .text-box {
        position: relative;
        margin-left: 20%;
        margin-top: -16%;

        h3 {
          margin-bottom: 12px;
        }
        .fa {
          padding: 5px;
          border-radius: 50%;
          border: 2px solid #fff;
          margin: 0 2px;
          &.fa-eye {
            margin-left: 0;
          }
          &:hover {
            color: @black;
            background: #fff;
          }
        }
      }
    }
  }

  #fun-facts {
    background: url("../img/fun-facts/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 44px 0;
    color: #fff;
    text-align: center;

    .counter-number {
      font-size: 100px;
      font-weight: 300;
    }
    .number-description {
      font-size: 30px;
      font-weight: 400;
    }
  }

  #contact {
    text-align: center;

    h2{
      margin-bottom: 46px;
    }

    input:focus, textarea:focus {
    outline: 0;
    }
    input:not([type="submit"]) {
      border: 0;
      border-bottom: solid 1px @black;
      width: 48.83%;
      margin: 1% 1% 4%;
      line-height: 26px;
      &.left {
        margin-left: 0;
      }
      &.right {
        margin-right: 0;
      }
    }
    textarea {
      width: 100%;
      border: 0;
      border-bottom: solid 1px @black;
      height: 189px;
      margin-bottom: 36px;
    }
    input[type="submit"] {
      background: url("../img/send-icon.png") no-repeat;
      background-position-y: center;
      background-position-x: 76%;
      padding-right: 57px;
    }
  }
}

footer {
  background: @black;
  color: #fff;
  .fa {
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    &.fa-eye {
      margin-left: 0;
    }
    &:hover {
      color: @black;
      background: #fff;
    }
  }
}

